.bg-green{
  background-color: green;
}

.bg_red{
  background-color: red;
}

.bg_blue{
  background-color: blue;
}

.bg_grey{
  background-color: grey;
}

.bg-white{
  background-color: white;
}

.nav_bar_height{
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  color: #031c4e;
}

.nav_bar_height img{
  width: 156px;
}

.nav_bar_height li{
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}

.padding{
  padding: 15px;
}

.btn_empty{
  text-transform: capitalize;
  color: #3a8aff;
  border: 1px solid #3a8aff;
  border-radius: 5px;
  padding: 7px 10px;
}

.glyphicon-menu-hamburger{
  color: #3a8aff;
  padding-top: 20px;
  font-size: 18px;
}

.jumbo{
  height: 600px;
  color: white;
}

.google_position{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%,-50%);
}

.lead{
  line-height: 25px;
  font-weight: bold;
  color: #bbcdff;
}

.form_container{
  background-color: white;
  border-radius: 5px;
}

.margin_top_10{
  color: black;
  margin-top: 10px;
}

.form_container h2{
  font-weight: bold;
}

.form_container h2:first-child{
  color: black;
}

.form_container h2:nth-child(2){
  color: #006aff;
}

.empty_form{
  position: relative;
  background-color: white;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  line-height: 35px;
  font-size: 15px;
}

::placeholder{
  color: black;
}

.btn_full{
  background-color: #579aff;
  color: white;
  font-weight: bold;
}

.btn_empty_form{
  color: black;
  box-shadow: 1px 1px lightgrey;
  font-weight: bold;
}

.btn_empty_form img{
  width: 30px;
  margin-left: 5px;
}


.jumbo_wrapper{
  background-image: url(../img/jumbotron.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.jumbo_margin{
  margin-top: 60px;
}

.pull_up_margin20{
  margin-top: -20px;
}

.pull_up_margin10{
  margin-top: -10px;
}

.navbar_fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.size{
  width: 200px;
  height: 200px;
}

.margin_top_30{
  margin-top: 30px;
}

.wrapper_color{
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  background-color: #f3f5f9;
}

.constumers_color{
  color: #046fff;
}

.titolino_color{
  color: #6f7b97;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.border-left{
  border-left: 1px solid black;
  line-height: 30px;
}

.border_bottom{
  border-bottom: 1px solid white;
}

.margin_top_120{
  margin-top: 120px;
}

.main_list{
  list-style: none;
  margin-top: 30px;
}

.main_list li{
  margin-left: -50px;
  padding-left: 5px;
}

.padding_top_30{
  padding-top: 30px;
}

.margin_bottom_30{
  margin-bottom: 30px;
}

.jumbo_padding{
  padding: auto;
}

@media screen and (max-width: 768px) {

  .jumbo_margin{
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {

  h1{
    font-size: 48px;
  }

}
