

.bg-green{
  background-color: green;
}

.bg_red{
  background-color: red;
}

.bg_blue{
  background-color: blue;
}

.bg_grey{
  background-color: grey;
}

.nav_bar_height{
  height: 50px;
}

.jumbo{
  height: 500px;
}

.jumbo_margin{
  margin-top: 40px;
}

.pull_up_margin20{
  margin-top: -20px;
}

.size{
  width: 200px;
  height: 200px;
}

.wrapper_color{
  margin-top: 30px;
}
