.bg-green{
  background-color: green;
}

.bg_red{
  background-color: red;
}

.bg_blue{
  background-color: blue;
}

.bg_grey{
  background-color: grey;
}

.bg-white{
  background-color: white;
}

.terms_color{
  color: #031c4e;
}

.nav_bar_height{
  height: 50px;
  line-height: 50px;
  font-weight:bold;
  color: #031c4e;
}

.nav_bar_height img{
  width: 156px;
}

.nav_bar_height li{
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}

.padding{
  padding: 15px;
}

.btn_empty{
  text-transform: capitalize;
  color: #3a8aff;
  border: 1px solid #3a8aff;
  border-radius: 5px;
  padding: 7px 10px;
}

.glyphicon-menu-hamburger{
  color: #3a8aff;
  padding-top: 20px;
  font-size: 18px;
}

.jumbo{
  color: white;
}

.google_position{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%,-50%);
}

.lead{
  line-height: 25px;
  font-weight: bold;
  color: #bbcdff;
}

.form_container{
  background-color: white;
  border-radius: 5px;
}

.margin_top_10{
  margin-top: 10px;
}

.rcd-color{
  color: #031c4e;
  font-weight: bold;
}

.rcd-p-color{
  color:#5c6a88;
}

.margin_top_20{
  margin-top: 20px;
}

.p_size{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: #031c4e;
}

.slider_size{
  width: 70%;
  margin-top: 60px;
}

.fa-angle-right{
  color: #031c4e;
  font-size: 50px;
  margin-left: 10px;
}

.fa-angle-left{
  color: #6f7b97;
  font-size: 50px;
  margin-right: 10px;
}

.circle{
  width: 10px;
  height: 10px;
  border: 1px solid #006aff;
  border-radius: 90px;
  display: inline-block;
  margin-right: 5px;
}

.filled{
  background-color: #006aff;
}

.form_container h2{
  font-weight: bold;
}

.form_container h2:first-child{
  color: black;
}

.form_container h2:nth-child(2){
  color: #006aff;
}

.padding_bottom_30{
  padding-bottom: 30px;
}

.padding_top_40{
  padding-top: 40px;
}

.padding_bottom_40{
  padding-bottom: 40px;
}

.empty_form{
  position: relative;
  background-color: white;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  line-height: 35px;
  font-size: 15px;
}

.linear_gradient{
  background: linear-gradient(#0048c6,#001d99);
}

::placeholder{
  color: black;
}

.btn_full{
  background-color: #579aff;
  color: white;
  font-weight: bold;
}

.btn_empty_form{
  color: black;
  box-shadow: 1px 1px lightgrey;
  font-weight: bold;
}

.btn_empty_form img{
  width: 30px;
  margin-left: 5px;
}


.jumbo_wrapper{
  background-image: url(../img/bg_home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 70px;
  padding-top: 70px;
}

.jumbo_margin{
  margin-top: 60px;
}

.pull_up_margin20{
  margin-top: -20px;
}

.pull_up_margin10{
  margin-top: -10px;
}

.navbar_fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.size{
  width: 200px;
  height: 200px;
}

.margin_top_30{
  margin-top: 30px;
}

.wrapper_color{
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  background-color: #f3f5f9;
}

.wrapper_color2{
  padding-top: 40px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  background-color: #f3f5f9;
}

.deploy-scale-color{
  color: #5c6a88;
}

.pull_up_margin50{
  margin-top: -50px;
}



.bold{
  font-weight: bold;
}

.constumers_color{
  color: #046fff;
}

.titolino_color{
  color: #6f7b97;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.border-left{
  border-left: 2px solid #cccccc;
  line-height: 30px;
}

.border_bottom{
  border-bottom: 1px solid white;
}

.margin_top_120{
  margin-top: 120px;
}

.margin_bottom_10{
  margin-bottom: 10px;
}

.main_list{
  list-style: none;
  margin-top: 30px;
}

.main_list li{
  margin-left: -50px;
  padding-left: 5px;
}

.main_list li a{
  list-style: none;
  color: #75809a;
  font-weight: normal;
  font-size: 16px;
}

.padding_top_30{
  padding-top: 30px;
}

.margin_bottom_30{
  margin-bottom: 30px;
}


.title{
  color: white;
  font-weight: bold;
  font-size: 36px;
}

.regions{
  color: white;
  font-weight: bold;;
  padding-bottom: 10px;
  padding-top: 10px;
}

.padding_bottom_70{
  padding-bottom: 70px;
}
.developers{
  font-weight: bold;
  font-size: 34px;

}

.rockerbox{
  width: 256px;
}

.main_list li .regions:last-child{
  color: #00d5d1;
}

.main_list li .regions:nth-child(2){
  color: #bbc9eb;
}

.white_container{
  position: relative;
  width: 50%;
  min-width: 270px;
  max-width: 400px;
  height: 300px;
  margin: auto;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
}

.contenuto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.wrapper_color3{
  background: linear-gradient(#0042bc,#00209b);
  padding-top: 40px;
  padding-bottom: 40px;
}

.btn_footer{
  background: white;
  color: #006aff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #b5bac9;
  width: 225.6px;
  margin: auto;
}

.wrapper_color4{
  background: #031c4e;
  padding-top: 30px;
  padding-bottom: 30px;
}

.margin_bottom_20{
  margin-bottom: 20px;
}

.fab{
  margin-right: 5px;
  font-size: 16px;
  color: #7a859d;
}

.footer-p{
  color: #8b94a9;
  font-size: 13px;
  font-weight: bold;
}

.footer-p2{
  color: #546382;
  font-size: 13px;
  font-weight: bold;
  margin-top: -15px;
}

footer h4{
  color: white;
  font-weight: bold;
}

footer ul{
  margin-left: -35px;
}

footer ul li{
  list-style: none;
  color: #a6adbd;
  font-weight: bold;
}

footer ul li a{
  text-decoration: none;
  color: #a6adbd;
  line-height: 25px;
}


@media screen and (min-width: 1200px) and (max-width: 2000px) {

  .jumbo .col-md-7 h1{
    font-size: 60px;
    font-weight: bold;
  }

}


@media screen and (max-width: 768px) {

  .jumbo_margin{
    margin-top: 10px;
  }
}
